/* Contain floats*/
.wprtc_contributor_box_wrapper {
  content: "";
  display: table;
  width: 100%;
}

.wprtc_contributor_box_wrapper:after {
  clear: both;
}

.wprtc_contributor_gravatar {
  float: left;
  width: 20%;
  padding: 10px 0 0 0px;
}

.wprtc_contributor_details {
  padding: 10px 0 0 0px;
  float: left;
  width: 80%;
}

.wprtc_contributor_details p{
  display: inline-block;
}
